.outerbar{
    width:100%;
    height: 30px;
    background: grey;
    border-radius: 10px;
}
.innerbar{
    width:1%;
    height: 30px;
    text-align:center;
    background: red;
    border-radius: 10px;

}
.innerspan{
    color:white;
}